/* RESET BÁSICO */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FUNDO */
body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  background:#fff;
}

/* CONTAINER QUE CENTRALIZA */
.container-login{
  width:100%;
  display:flex;
  justify-content:center;
  padding:20px;
}

/* CAIXA DO FORM (tamanho de app) */
.form-wrapper{
  width:100%;
  max-width:460px;   /* 🔥 largura ideal para desktop */
}

/* LOGO */
.logo_pagina{
  width:100%;
  display:flex;
  justify-content:center;
  margin-bottom:20px;
}

.logo_pagina img{
  width:70%;
  max-width:220px;
}

/* FORM */
.formulario_entrar{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:15px;
}

/* INPUT */
.input-container{
  position:relative;
  width:100%;
}

input{
  width:100%;
  height:56px;
  background-color:rgba(0,74,173,1);
  color:white;
  border:none;
  border-radius:15px;
  font-size:18px;
  padding:10px 45px 10px 10px;
  text-align:center;
  outline:none;
}

input::placeholder{
  color:white;
}

/* ÍCONE */
.input-container i{
  position:absolute;
  right:15px;
  top:50%;
  transform:translateY(-50%);
  color:white;
  font-size:18px;
}

/* BOTÃO */
button{
  width:100%;
  height:56px;
  background-color:rgba(0,74,173,1);
  color:white;
  border:none;
  border-radius:15px;
  font-size:18px;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}

/* LINK COM CARA DE BOTÃO */
.btn-link{
  width:100%;
  height:56px;
  background-color:rgba(0,74,173,1);
  color:white;
  border-radius:15px;
  font-size:18px;
  text-decoration:none;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}


.botao_enviar,
.botao_voltar{
  width:100%;
  gap:10px
}
